/* This is how to comment in CSS */
html {
    height: 100%;
    width: 100%;
  }
.section-heading{
  font-family: 'Lilita One', cursive;
  color: #32a852;
  margin: 60px 0 0 0;
  padding: 0 20px 0 20px;
}
li {
  display: inline;
}
p {
  color: rgba(0,0,0,1);
  background: black;
  /* to add gradient colors */
  background: linear-gradient(bottom, rgba(255,247,0,.6), rgba(255,141,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(255,247,0,.6), rgba(255,141,0,.4));
  background: -moz-linear-gradient(bottom, rgba(255,247,0,.6), rgba(255,141,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 30px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}
.show-description p {
  height: 150px;
}
#first-paragraph{
  background-image: url("https://i.imgur.com/QBtmm9O.jpeg");
  font-family: Arial, Helvetica, sans-serif
}
.general-paragraph-styling{
  font-family: Arial, Helvetica, sans-serif
}
.another-class{
  border-width: 5px;
  border-radius: 10px 5px 10px 5px;
}
@media (max-width: 500px) {
  h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: 40px;
  }
  h3 {
    font-size: 20px;
    margin: 20px 0 30px 0;
  }
  div {
    margin: 20px 12px 0 12px;
  }
  p {
    font-size: 20px;
    line-height: 24px;
  }
  small {
    font-size: 16px;
  }
}