div {
  text-align: center;
}
li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
button {
      border-radius: 10px;
      border-color: blue;
      color: rgba(0,3,179,0.65);
      background-color:rgba(166,167,208,0.65);
      padding: 50px;
    }
#rock {
  background-image: url("https://i.imgur.com/8GvesWK.jpeg");
  background-size: 140px 140px;
  height: 140px;  
  width: 140px;
}
#paper {
  background-image: url("https://i.imgur.com/Qlwxpw6.jpeg");
  background-size: 140px 140px;
  height: 140px;  
  width: 140px;
}
#scissors {
  background-image: url("https://i.imgur.com/McyoDRK.png");
  background-size: 140px 140px;
  height: 140px;  
  width: 140px;
}