div {
  text-align: center;
}
li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
button {
      border-radius: 10px;
      border-color: blue;
      color: rgba(0,3,179,0.65);
      background-color:rgba(166,167,208,0.65);
      padding: 50px;
    }